# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Too Big
Female_Wizard.fbx
female_normal.fbx

.vs/
.worktrees/

*.fbx
*.pdb
*.idb
*.iobj
*.ipdb
*.exp

*.tlog
*.enc
*.cso
*.res
*.log
*.recipe

*.png

# MSBuild 중간 산출물
*.vcxproj.FileListAbsolute.txt
*.obj.dt.d.json
*.obj.dt.module.json
*.obj.dt.module.json.command

# Notion export / 외부 문서 자료
*_ExportBlock-*.zip
최적화사례/
